In [7]:
# Importamos las librerías a trabajar el set de datos para su corroboración
import numpy as np
import pandas as pd

In [13]:
#Leemos el archivo csv
df = pd.read_csv("C:/Users/yorio/OneDrive/DATA_SCIENCE_CODERHOUSE/Data Sets/DatasetsYorio/US_Accidents_2023.csv",sep=";")

In [14]:
df.head()

,ID,Source,Severity,Start_Time,Month,Year,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-3650461,Source1,2,2023-03-31 17:09:16.000000000,mar.,2023,2023-03-31 18:09:49.000000000,45.676.472,-94.174.568,45.666.976,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-3650462,Source1,2,2023-02-27 20:55:00.000000000,feb.,2023,2023-02-27 23:36:34.000000000,41.391.812,-75.467.365,4.139.837,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3650463,Source1,2,2023-02-26 09:31:45.000000000,feb.,2023,2023-02-26 11:58:19.000000000,40.850.278,-7.394.614,40.846.945,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-3650464,Source1,2,2023-03-21 17:46:42.000000000,mar.,2023,2023-03-21 18:31:50.000000000,3.371.499.181,-8.430.018.783,3.371.453.181,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-3650465,Source1,2,2023-03-24 04:46:30.000000000,mar.,2023,2023-03-24 09:22:00.000000000,33.927.671.000.000.000,-118.266.385,33.929.608,...,False,False,False,False,False,False,Night,Night,Night,Night

In [15]:
#Analizo cantidad de variables  y verifico sus características
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246633 entries, 0 to 246632
Data columns (total 48 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     246633 non-null  object
 1   Source                 246633 non-null  object
 2   Severity               246633 non-null  int64
 3   Start_Time             246633 non-null  object
 4   Month                  246633 non-null  object
 5   Year                   246633 non-null  int64
 6   End_Time               246633 non-null  object
 7   Start_Lat              246633 non-null  object
 8   Start_Lng              246633 non-null  object
 9   End_Lat                246633 non-null  object
 10  End_Lng                246633 non-null  object
 11  Distance(mi)           246633 non-null  object
 12  Description            246633 non-null  object
 13  Street                 245863 non-null  object
 14  City                   246631 non-null  object
 15  County                 246633 non-null  object
 16  State                  246633 non-null  object
 17  Zipcode                246574 non-null  object
 18  Country                246633 non-null  object
 19  Timezone               246404 non-null  object
 20  Airport_Code           245757 non-null  object
 21  Weather_Timestamp      241299 non-null  object
 22  Temperature(F)         240459 non-null  float64
 23  Wind_Chill(F)          238355 non-null  float64
 24  Humidity(%)            239886 non-null  float64
 25  Pressure(in)           240967 non-null  float64
 26  Visibility(mi)         239765 non-null  float64
 27  Wind_Direction         238850 non-null  object
 28  Wind_Speed(mph)        238851 non-null  float64
 29  Precipitation(in)      235427 non-null  float64
 30  Weather_Condition      240004 non-null  object
 31  Amenity                246633 non-null  bool
 32  Bump                   246633 non-null  bool
 33  Crossing               246633 non-null  bool
 34  Give_Way               246633 non-null  bool
 35  Junction               246633 non-null  bool
 36  No_Exit                246633 non-null  bool
 37  Railway                246633 non-null  bool
 38  Roundabout             246633 non-null  bool
 39  Station                246633 non-null  bool
 40  Stop                   246633 non-null  bool
 41  Traffic_Calming        246633 non-null  bool
 42  Traffic_Signal         246633 non-null  bool
 43  Turning_Loop           246633 non-null  bool
 44  Sunrise_Sunset         244958 non-null  object
 45  Civil_Twilight         244958 non-null  object
 46  Nautical_Twilight      244958 non-null  object
 47  Astronomical_Twilight  244958 non-null  object
dtypes: bool(13), float64(7), int64(2), object(26)
memory usage: 68.9+ MB